.advantages {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__title {
  padding-top: 40px;
  padding-bottom: 49px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__title--second {
  padding-bottom: 16px;
  padding-top: 31px;
}

.advantages__title--third {
  padding-top: 24px;
}

.advantages__title--city {
  padding-top: 33px;
}

.advantages__item--with-image {
  min-width: 320px;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__item--color-second {
  background-color: #eeeeee;
}

.advantages__description {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.advantages__description--with-image {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

// CATALOG
.advantages__catalog-main {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__catalog {
  list-style-type: none;
}
