@use "../setup/mixins.scss" as m;

.advantages {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 44px;
  }
}

.advantages__title {
  padding-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @include m.tablet {
    padding-right: 50px;
    padding-left: 50px;
  }

  @include m.desktop {
    font-size: 21px;
    padding-top: 53px;
    padding-right: 120px;
    padding-left: 120px;
  }
}

.advantages__title--city {
  padding-top: 33px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @include m.tablet {
    padding-top: 52px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @include m.desktop {
    font-size: 21px;
    padding-right: 120px;
    padding-left: 120px;
  }
}

.advantages__title--second {
  padding-bottom: 16px;
  padding-top: 31px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @include m.tablet {
    padding-top: 18px;
    padding-bottom: 24px;
    font-size: 21px;
  }
}

.advantages__title--third {
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @include m.tablet {
    font-size: 21px;
    padding: 51px 60px 0;
  }

  @include m.desktop {
    padding: 51px 121px 0;
  }
}
