@use "../setup/mixins.scss" as m;

.advantages__item {
  @include m.tablet {
    box-sizing: border-box;
  }

  @include m.desktop {
    min-width: 400px;
  }
}

.advantages__item-eat {
  display: grid;
  grid-template-columns: 65px 237px;
  text-align: left;
  box-sizing: border-box;

  @include m.tablet {
    display: block;
    text-align: center;
  }

  @include m.desktop {
    height: 330px;
  }
}

.advantages__item--with-image {
  padding: 0;
  margin: 0;
  margin-top: 46px;
  min-width: 320px;
  color: #ffffff;
  background-color: #81b3d2;
  display: grid;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 /-1;
    margin: 0;
    max-height: 256px;
  }

  @include m.desktop {
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item-second {
  @include m.desktop {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__swap {
  @include m.tablet {
    order: 2;
  }
}

.with-image-second {
  padding-top: 32px;
  margin: 0;

  @include m.tablet {
    padding: 0;
  }
}

.advantages__item--color-second {
  background-color: #eeeeee;
}


.advantages__item--color-second-one {
  padding-bottom: 28px;

  @include m.tablet {
    padding: 0;
  }
}

.advantages__item-stylize {
  @include m.tablet {
    display: flex;
  }
}
