@use "../setup/mixins.scss" as m;

.advantages__image {
  padding-top: 40px;
  object-fit: cover;

  @include m.tablet {
    width: 512px;
    height: 256px;
    padding: 0;
  }

  @include m.desktop {
    width: 100%;
  }
}

.advantages__eat {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 23px;
  right: -18px;

  @include m.tablet {
    position: static;
    display: inline;
    padding: 0;
    padding-top: 60px;
    width: 75px;
    height: 75px;
  }

  @include m.desktop {
    width: 80px;
    height: 80px;
    padding-top: 70px;
  }
}
