@use "../setup/mixins.scss" as m;

.advantages__catalog-wrapper {
  @include m.tablet {
    padding: 0 60px;
  }

  @include m.desktop {
    padding: 0;
  }
}

.advantages__catalog-main {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include m.tablet {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @include m.desktop {
    grid-template-columns: repeat(3, 400px);
  }
}
