.button {
  border: none;
}

.button__type-secondary {
  display: flex;
  justify-content: center;
  padding: 16px 49px;
  margin: 0 18px;
  max-width: 284px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}

// Catalog

.advantages__catalog-like {
  padding: 0;
  width: 23px;
  height: 21px;
  background: none;
}

.catalog__like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding-left: 14px;
}
