@use "../setup/mixins.scss" as m;

.social {
  max-height: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 160px;
}

.social__item {
  gap: 6px;
  text-decoration: none;
  list-style-type: none;
}

.social__link {
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

.footer__connection {
  fill: #ffffff;
  padding: 0 3px;
}
