@use "../setup/mixins.scss" as m;

.footer {
  height: 235px;
  display: grid;

  @include m.tablet {
    max-height: 120px;
  }
}


.footer__form {
  margin-top: 22px;
}

.footer__wrapper {
  display: grid;
  justify-content: space-evenly;

  @include m.tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
