@use "../setup/mixins.scss" as m;
// КАРТА
.sedona__map {
  width: 100%;
  margin-top: 49px;
  border: none;

  @include m.tablet {
    margin-top: 55px;
  }
}

.hero {
  height: 389px;
  background-image: url("../img/hero.png");

  @include m.tablet {
    height: 518px;
  }
}

.hero::after {
  content: "";
  margin-top: 24px;
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../img/sedona-after.svg");
  background-position: center;
  background-repeat: no-repeat;

  @include m.tablet {
    content: "";
    margin-top: 27px;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/sedona-after.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hero__text {
  padding-top: 90px;

  @include m.tablet {
    padding-top: 80px;
    width: 461px;
    height: 350px;
  }

  @include m.desktop {
    padding-top: 80px;
  }
}
