@use "../setup/mixins.scss" as m;

.video__catalog {
  position: relative;
  min-height: 177px;
  width: 100%;
}

.button__img {
  @include m.tablet {
    width: 648px;
    min-height: 500px;
    object-fit: cover;
  }

  @include m.desktop {
    width: 800px;
    height: 500px;
  }
}
