@use "../setup/mixins.scss" as m;

.hero-form {
  height: 158px;
  background-position: center;
  background-image: url("../img/hero.png");

  @include m.tablet {
    min-height: 290px;
  }
}

.hero-form::after {
  content: "";
  margin-top: 6px;
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../img/sedona-after.svg");
  background-position: center;
  background-repeat: no-repeat;

  @include m.tablet {
    content: "";
    margin-top: 57px;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/sedona-after.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
