.main__head {
  padding-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
  margin-top: 0;
}

.main__text {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

// Заинтерисовались?
.interested__head {
  padding-top: 38px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.interested__text {
  margin: 32px 0;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
