@use "../setup/mixins.scss" as m;

.nav {
  position: relative;
  color: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 1;

  @include m.tablet {
    max-height: 56px;
    color: #000000;
    background-color: #ffffff;
  }
}

.hidden {
  display: none;
}

.nav--opened {
  & .nav__wrapper {
    display: block;
  }
}

.nojs {
  & .nav__wrapper {
    display: block;
    position: static;
  }

  & .header__logo {
    display: none;
  }

  & .nav__toggle,
  & .nav__toggle-open {
    display: none;
  }
}
