@use "../setup/mixins.scss" as m;


.page__container-presentation {
  padding-top: 43px;

  @include m.tablet {
    padding-top: 58px;
  }
}

.main__catalog-presentation {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;

  @include m.tablet {
    font-size: 30px;
    line-height: 26px;
  }
}

.main__catalog-presentation-text {
  padding: 35px 27px;
  padding-top: 20px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include m.tablet {
    padding: 35px 150px;
    padding-bottom: 66px;
  }

  @include m.desktop {
    padding: 35px 350px;
    padding-bottom: 64px;
  }
}
